// IMAGES

$img-banner-sm: url(../img/banner_sm.png);
$img-banner-md: url(../img/banner_md.png);
$img-banner-lg: url(../img/banner_lg.png);




// TEXT

$txt-font1: 'Merriweather', serif;
$txt-font2: 'Oswald', sans-serif;

$txt-color1: #404040;
$txt-color2: #ffffff;
$txt-color3: #62edfd;

$txt-size1:24px;
$txt-size2:20px;
$txt-size3:16px;

$txt-weight-bold:700;
$txt-weight-normal:400;

$txt-height1: 40px;
$txt-height2: 36px;
$txt-height3: 30px;


// BACKGROUND

$bg-color1:#ffffff;
$bg-color2:#202020;