/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
.button-collapse i {
  color: #fff;
}

h1 {
  font-weight: 500;
}

.visit {
  width: 100%;
}

.card .card-title {
  font-weight: bold;
}



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .section.visit-section {
    width: 85%;
    margin: 0 auto;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .section.visit-section {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width : 993px) {
  .icon-block {
    min-height: 695.969px;
  }
  .section.visit-section {
    width: 80%;
    margin: 0 auto;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;


































