@import "_variables";
@import "_utils";
@import "_ribbons";

body{
	color: $txt-color1;
	padding:40px;
}

.nav-list{
	@extend .center;
	@extend .reset-list;

	.nav-list-item{
		float: left;

		a {
			text-decoration: none;
			color: green;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.cta-ribbon {
	@include ribbon();
}