// COLORS

$bg-color-dark-red: #b92e2f;
$bg-color-dark-gray: #222222;
$bg-color-white: #fff;
$bg-color-bright-red: #d80000;

$txt-color-red: #b92e2f;
$txt-color-dark-gray: #222222;
$txt-color-white: #fff;



// TEXT SIZE


$txt-size-h1-sm: 24px;
$txt-size-h1-md: 30px;
$txt-size-h1-lg: 36px;

$txt-size-h2-sm: 22px;
$txt-size-h2-md: 26px;
$txt-size-h2-lg: 30px;

$txt-size-p-sm: 16px;
$txt-size-p-md: 16px;
$txt-size-p-lg: 18px;

$txt-size-nav-sm: 16px;
$txt-size-nav-md: 18px;
$txt-size-nav-lg: 16px;

$txt-size-menu-cat-sm: 18px;
$txt-size-menu-cat-md: 20px;
$txt-size-menu-cat-lg: 20px;

$txt-size-menu-dish-sm: 16px;
$txt-size-menu-dish-md: 18px;
$txt-size-menu-dish-lg: 18px;

$txt-size-menu-description-sm: 14px;
$txt-size-menu-description-md: 16px;
$txt-size-menu-description-lg: 16px;


// TEXT WEIGHT

$txt-thin: 300;
$txt-normal: 400;
$txt-bold: 700;
$txt-extra-bold: 900;



// border-image-source: 

$img-food-appetizer: url('../img/aja-food-appetizers.jpg');
$img-food-dumpling: url('../img/aja-food-dumpling.jpg');
$img-food-soup: url('../img/aja-food-soup.jpg');
$img-food-rice: url('../img/aja-food-rice.jpg');
$img-food-noodles: url('../img/aja-food-noodles.jpg');
$img-food-stirfry: url('../img/aja-food-stirfry.jpg');
$img-food-entrees: url('../img/aja-food-entrees.jpg');




$img-banner-sm: url('../img/aja-banner-sm.jpg');
$img-banner-md: url('../img/aja-banner-md.jpg');
$img-banner-lg: url('../img/aja-banner-lg.jpg');

$img-banner2-sm: url('../img/aja-banner2-sm.jpg');
$img-banner2-md: url('../img/aja-banner3-lg.jpg');
$img-banner2-lg: url('../img/aja-banner3-lg.jpg');

$img-about:url('../img/aja-about-img.jpg');

$img-location:url('../img/aja-map-img.png');






