
// FONT TYPE

$txt-type1: 'Lato', sans-serif;

$txt-type2: 'Open Sans', sans-serif;


// FONT SIZE

$txt-size1: 52px;

$txt-size2: 46px;

$txt-size3: 26px;

$txt-size4: 22px;

$txt-size5: 18px;

$txt-size6: 17px;

$txt-size7: 16px;

$txt-size8: 14px;

$txt-size9: 12px;

$txt-size10: 20px;


// FONT WEIGHT

$txt-weight-normal: 400;

$txt-weight-bold: 700;


// LINE HEIGHT

$txt-height1: 50px;

$txt-height2: 36px;

$txt-height3: 30px;

$txt-height4: 28px;

$txt-height5: 20px;

$txt-height6: 18px;

$txt-height7: 16px;


// FONT COLOR

$txt-color1: #000000;

$txt-color2: #ffffff;

$txt-color3: #80726b;

$txt-color4: #004a59;

$txt-color5: #3694a7;

$txt-color6: #ff6146;


// IMAGES

$img-logo: url('../assets/img/porky_pig.png');

$img-mtv: url('../assets/img/mtv_logo.png');

$img-zappos-on: url('../assets/img/zappos_on.png');

$img-zappos-off: url('../assets/img/zappos_off.png');

$img-delaware-on: url('../assets/img/delaware_on.png');

$img-delaware-off: url('../assets/img/delaware_off.png');

$img-monotype-on: url('../assets/img/monotype_on.png');

$img-monotype-off: url('../assets/img/monotype_off.png');

$img-digital-summit: url('../assets/img/digital-summit.png');

$img-webby: url('../assets/img/webby.png');

$img-mijingo: url('../assets/img/mijingo.png');

$img-sxsw: url('../assets/img/sxsw.png');

$img-wpmc: url('../assets/img/wpmc.png');

$img-teach: url('../assets/img/teach-learn.png');

$img-overwriting: url('../assets/img/overwriting.png');

$img-pencil: url('../assets/img/pencil.png');

$img-blank-slate: url('../assets/img/blank-slate.png');

$img-slogan: url('../assets/img/slogan-about.png');

$img-list: url('../assets/img/list-apart.png');

$img-event: url('../assets/img/event-apart.png');

$img-book: url('../assets/img/book-apart.png');

$img-nyc: url('../assets/img/nyc.png');

$img-zz: url('../assets/img/zz.png');

$img-atl: url('../assets/img/atlanta.png');

$img-twitter: url('../assets/img/twitter.png');

$img-facebook: url('../assets/img/facebook.png');

$img-hosting: url('../assets/img/porky_hosting.png');

$img-star: url('../assets/img/icon-star.png');


// BACKGROUND COLOR

$bg-color1: #f3614c;

$bg-color2: #202020;

$bg-color3: #ffffff;

$bg-color4: #9dccad;























